<div id="navbar">
    <div>
        <a href="{{ path('app_home') }}"><i class="fa-solid fa-house"></i> NOWOŚCI</a></li>
    </div>
    <div>
        <a href="{{ path('app_scores_public') }}"><i class="fa-solid fa-globe"></i> PUBLICZNE UTWORY</a></li>
    </div>
    <div>
        <a href="{{ path('app_scores_private') }}"><i class="fa-solid fa-key"></i> MOJE UTWORY</a></li>
    </div>
    <div>
        <a href="{{ path('app_contact') }}"><i class="fa-regular fa-envelope"></i> KONTAKT</a></li>
    </div>
</div>