<!DOCTYPE html>

<html>

<head>
    
    <title>Note8</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Secular+One&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://kit.fontawesome.com/d69551549e.js" crossorigin="anonymous"></script>
    {% endblock %}
    
</head>

<body>

    <div>

        <h1>ZAREJESTROWANO KONTO</h1>
        <a href="/">Strona główna</a>

    </div>

</body>
</html> 
